.bg{
    background: url("./imagenes/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    height: 100vh;
    width: 100vw;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.pokeimage{
    position: relative;
    top:-50px;
    left: -145px;
}

.glass{
    background-color: rgba(89, 88, 74, 0.4);
    width: 800px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(244, 248, 8);
}

.info{
    position: absolute;
    left: 55%;
    top: 33%;
}

.button{
    position: absolute;
    top: 92%;
    left: 85%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(244, 248, 8);
    background-color: transparent;
    color: rgb(244, 248, 8);;
    font-size: larger;
    font-family: 'Roboto Mono', monospace;
    height: 40px;
}

.button:hover{
    background:rgba(244, 248, 8);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.image{
    position: absolute;
    top: 4%;
    left: 3%;
}

.pokedex{
    align-items: center;
    background-color: rgba(3, 43, 150, 0.576);
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}