.bg{
    background:url('./imagenes/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.gif{
    width: 15vw;
    height: 15vh;
    margin-top: 20vh;
}
.loading{
    margin-top: 0vh;
    width: 15vw;
    height: 10vh;
}
@media(max-width:767px){
    .gif{
        width: 39vw;
        height: 20vh;
        margin-top: 20vh;
    }
    .loading{
        margin-top: 0vh;
        width:40vw;
        height: 10vh;
    }


}
@media(min-width:767px) and (max-width:1023px){

    .gif{
        width: 30vw;
        height: 20vh;
        margin-top: 20vh;
    }
    .loading{
        margin-top: 0vh;
        width:30vw;
        height: 10vh;
    }
}