.paginado {
	margin:0 0;
}

.paginado ul {
	list-style:none;
	text-align: center;
    
}

.paginado{
    position:static;
    
   
}
.navpaginado{
    display: flex;
    align-items: center;
    justify-content: center;
}


.paginado ul li {
	display:inline-block;
	margin-right:0px;
}

.paginado ul li a {
	display:block;
    align-content: center;
	padding:10px 20px;
	color:rgb(255, 255, 255);
	background:transparent;
	text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
}

.paginado ul li a:hover {
	background:rgb(244, 248, 8);
    color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

.paginado ul li .active {
	background:#037E8C;
	font-weight:bold;
}

@media(max-width:500px){
    .paginado ul li a {
        display:block;
        align-content: center;
        padding:10px 10px;
        color:black;
        background:transparent;
        text-decoration: none;
        font-family: 'Hammersmith One', sans-serif;
    }
    
}